@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

html{
  background-color: #0B1628;
  background-image: url('/images/bg-1.svg'), url('/images/bg-2.svg'), url('/images/bg-3.svg');
  background-repeat: no-repeat;
  background-position: 100% -40%, left center, left bottom;
}

@media screen and (min-width: 1024px) {
  body {
    background-image:
      url('/images/doodles/doodle-1.png'),
      url('/images/doodles/doodle-2.png'),
      url('/images/doodles/doodle-3.png'),
      url('/images/doodles/doodle-4.png');
    background-position:
      0% 365px,
      50% 413px,
      60% 120px,
      90% 500px;
    background-repeat: no-repeat;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
